@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============================= */
/*          INPUTS               */
/* ============================= */
.input {
  @apply border p-2 rounded w-full mb-3;
}

/* ============================= */
/*          BOTONES              */
/* ============================= */
.btn {
  @apply p-2 rounded text-white text-center transition;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-700;
}

.btn-success {
  @apply bg-green-600 hover:bg-green-700;
}

/* ============================= */
/*   CONTENEDOR DE FORMULARIOS  */
/* ============================= */
.card {
  @apply flex flex-col w-80 p-6 bg-white shadow-xl rounded-xl;
}

/* ============================= */
/*            TITULOS            */
/* ============================= */
.card-title {
  @apply text-2xl font-bold text-center mb-4;
}
